<div class="example-form">
    <mat-card class="example-full-width">
        <mat-card-title>
            Nuevo Proyecto
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="# Requerimiento" [(ngModel)]="project.req" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Titulo" [(ngModel)]="project.title" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Descripción" [(ngModel)]="project.description" required></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <section>
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Área" [(ngModel)]="project.area" required>
                        <mat-option *ngFor="let area of areas" [value]="area">{{area}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Fecha de Solicitud" [value]="project.required_by.date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </section>
            <mat-divider></mat-divider>
            <section>
                <h3>Solicitante</h3>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre" [(ngModel)]="project.required_by.name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail" [(ngModel)]="project.required_by.email">
                </mat-form-field>
            </section> 
            <mat-divider></mat-divider>
            <section>
                <h3>Aprobaciones</h3>
                <mat-form-field class="example-full-width">
                    <mat-chip-list #chipList >
                        <mat-chip 
                            *ngFor="let approver of project.approved_by"
                            [removable]="removable"
                            (removed)="remove(approver)">
                            {{approver.name}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <input class="example-full-width"
                        placeholder="Agregar un Aprobador"
                        [matChipInputFor]="chipList" 
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" />
                </mat-form-field>                              
            </section> 
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="onAdd()">AGREGAR</button>
            <button mat-button>CANCELAR</button>
        </mat-card-actions>
    </mat-card>

 
        
</div>
  